@model WebApplication15.ViewModels.DepositContractViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DepositContract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Number, Model.Number)
                <input asp-for="Number" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepositId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.DepositId, Model.Deposits, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepositId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Currency, Model.Currencies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BeginDate, Model.BeginDate)
                <input asp-for="BeginDate" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="DepositAmount" class="control-label"></label>
                <input asp-for="DepositAmount" class="form-control" />
                <span asp-validation-for="DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.UserId, Model.Users, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
